:root {
    --primary-color: #f8f7f6;
    --secondary-color: #19263f;
    --background-color: #1c2e50;
    --temporary-color: #14133b;
  }
  *{
    margin: 0;
    padding: 0;
  }
.nav{
width: 100vw;
background-image:  linear-gradient(135deg, var(--secondary-color), var(--primary-color), var(--secondary-color));;
height: 10vh;


display: flex;
/* flex-wrap: wrap; */
justify-content: space-between;
align-items: center;

}
.logo{
  padding-left: 2vw;
}

.profile{
  padding-right: 2vw;
}
img{
  height: 8vh;
}
.profile img{
  height: 6vh;
}
